<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>baram</display-name>
  <welcome-file-list>
    <welcome-file>Main</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>baram.view.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MonitorServlet</display-name>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>baram.view.monitor.MonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/Monitoring</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StreamServlet</display-name>
    <servlet-name>StreamServlet</servlet-name>
    <servlet-class>baram.view.analysis.StreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamServlet</servlet-name>
    <url-pattern>/Streaming</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Csv</servlet-name>
    <servlet-class>baram.view.analysis.Csv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Csv</servlet-name>
    <url-pattern>/csv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InterestServlet</display-name>
    <servlet-name>InterestServlet</servlet-name>
    <servlet-class>baram.view.analysis.interest.InterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterestServlet</servlet-name>
    <url-pattern>/Interest</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Interest</display-name>
    <servlet-name>Interest</servlet-name>
    <servlet-class>baram.view.analysis.interest.Interest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Interest</servlet-name>
    <url-pattern>/interest</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdvertisingServlet</display-name>
    <servlet-name>AdvertisingServlet</servlet-name>
    <servlet-class>baram.view.analysis.advertising.AdvertisingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisingServlet</servlet-name>
    <url-pattern>/Advertising</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InstallEnvServlet</display-name>
    <servlet-name>InstallEnvServlet</servlet-name>
    <servlet-class>baram.view.analysis.install.InstallEnvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallEnvServlet</servlet-name>
    <url-pattern>/InstallEnv</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InstallEnv</display-name>
    <servlet-name>InstallEnv</servlet-name>
    <servlet-class>baram.view.analysis.install.InstallEnv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallEnv</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PopulationServlet</display-name>
    <servlet-name>PopulationServlet</servlet-name>
    <servlet-class>baram.view.analysis.population.PopulationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulationServlet</servlet-name>
    <url-pattern>/Population</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Population</display-name>
    <servlet-name>Population</servlet-name>
    <servlet-class>baram.view.analysis.population.Population</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Population</servlet-name>
    <url-pattern>/population</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FirstImpressionServlet</display-name>
    <servlet-name>FirstImpressionServlet</servlet-name>
    <servlet-class>baram.view.analysis.impression.FirstImpressionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstImpressionServlet</servlet-name>
    <url-pattern>/FirstImpression</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FirstImpression</display-name>
    <servlet-name>FirstImpression</servlet-name>
    <servlet-class>baram.view.analysis.impression.FirstImpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstImpression</servlet-name>
    <url-pattern>/impression</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>HurdleServlet</display-name>
    <servlet-name>HurdleServlet</servlet-name>
    <servlet-class>baram.view.analysis.hurdle.HurdleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HurdleServlet</servlet-name>
    <url-pattern>/Hurdle</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Hurdle</display-name>
    <servlet-name>Hurdle</servlet-name>
    <servlet-class>baram.view.analysis.hurdle.Hurdle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hurdle</servlet-name>
    <url-pattern>/hurdle</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ClassificationServlet</display-name>
    <servlet-name>ClassificationServlet</servlet-name>
    <servlet-class>baram.view.analysis.classification.ClassificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassificationServlet</servlet-name>
    <url-pattern>/Classification</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Classification</display-name>
    <servlet-name>Classification</servlet-name>
    <servlet-class>baram.view.analysis.classification.Classification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classification</servlet-name>
    <url-pattern>/classification</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EconomyServlet</display-name>
    <servlet-name>EconomyServlet</servlet-name>
    <servlet-class>baram.view.analysis.economy.EconomyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EconomyServlet</servlet-name>
    <url-pattern>/Economy</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Economy</display-name>
    <servlet-name>Economy</servlet-name>
    <servlet-class>baram.view.analysis.economy.Economy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Economy</servlet-name>
    <url-pattern>/economy</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InformationServlet</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>baram.view.analysis.information.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/Information</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Information</display-name>
    <servlet-name>Information</servlet-name>
    <servlet-class>baram.view.analysis.information.Information</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information</servlet-name>
    <url-pattern>/information</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AbusingServlet</display-name>
    <servlet-name>AbusingServlet</servlet-name>
    <servlet-class>baram.view.analysis.abusing.AbusingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbusingServlet</servlet-name>
    <url-pattern>/Abusing</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Abusing</display-name>
    <servlet-name>Abusing</servlet-name>
    <servlet-class>baram.view.analysis.abusing.Abusing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Abusing</servlet-name>
    <url-pattern>/abusing</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>NetworkServlet</display-name>
    <servlet-name>NetworkServlet</servlet-name>
    <servlet-class>baram.view.network.NetworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetworkServlet</servlet-name>
    <url-pattern>/Network</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <display-name>JoinPage</display-name>
    <servlet-name>JoinPage</servlet-name>
    <servlet-class>baram.view.JoinPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinPage</servlet-name>
    <url-pattern>/JoinPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>baram.view.member.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/Join</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>baram.view.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>baram.view.member.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>baram.view.member.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ModifyFormServlet</display-name>
    <servlet-name>ModifyFormServlet</servlet-name>
    <servlet-class>baram.view.member.ModifyFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFormServlet</servlet-name>
    <url-pattern>/ModifyForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ModifyMemberServlet</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>baram.view.member.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/ModifyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RemoveMemberServlet</display-name>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <servlet-class>baram.view.member.RemoveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <url-pattern>/RemoveMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetAllMemberInfoServlet</display-name>
    <servlet-name>GetAllMemberInfoServlet</servlet-name>
    <servlet-class>baram.view.member.GetAllMemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMemberInfoServlet</servlet-name>
    <url-pattern>/GetAllMemberInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PivotTableServlet</display-name>
    <servlet-name>PivotTableServlet</servlet-name>
    <servlet-class>baram.view.pivotTable.PivotTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PivotTableServlet</servlet-name>
    <url-pattern>/PivotTable</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>jdbc.driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/visdb</param-value >
    <!--param-value>jdbc:mysql://192.168.0.136:3306/metastore_db</param-value-->
  </context-param>
  <context-param>
    <param-name>jdbc.user</param-name>
    <param-value>sys</param-value>
    <!-- param-value>hive</param-value-->
  </context-param>
  <context-param>
    <param-name>jdbc.password</param-name>
    <param-value>manager</param-value>
       <!--param-value>hadoop</param-value-->
  </context-param>
  <context-param>
    <param-name>analysis.table</param-name>
    <param-value>demo_analysis</param-value>
  </context-param>
  <context-param>
    <param-name>monitor.table</param-name>
    <param-value>monitor</param-value>
    <!-- param-value>baram_monitor</param-value-->
  </context-param>
  <context-param>
    <param-name>networkNodeTable.table</param-name>
    <param-value>networknode</param-value>
  </context-param>
  <context-param>
    <param-name>networkEdgeTable.table</param-name>
    <param-value>networkedge</param-value>
  </context-param>
  <context-param>
    <param-name>LocDangerSourceTable.table</param-name>
    <param-value>LOC_DANGER_SCORE_TABLE</param-value>
  </context-param>
  <context-param>
    <param-name>UnstructuredDatTable.table</param-name>
    <param-value>UNSTRUCTURED_DATA</param-value>
  </context-param>
  <context-param>
    <param-name>server.view.login</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>server.view.analysis</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>server.view.network</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>server.view.rowlist</param-name>
    <param-value>true</param-value>
  </context-param>
</web-app>