<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Charting Frame</title>
<link rel="stylesheet" type="text/css" href="css/dc.css" />
</head>
<body>

	<div id="comp"></div>

	<script type="text/javascript" src="js/queue.v1.min.js"></script>
	<script type="text/javascript" src="js/d3.js"></script>
	<script type="text/javascript" src="js/crossfilter.js"></script>
	<script type="text/javascript" src="js/dc.js"></script>
	<script type="text/javascript">
	
		var chart = dc.compositeChart("#comp");

		var chartWidth = Math.round(window.innerWidth);
		var chartHeight = Math.round(window.innerHeight);

		d3.csv('##dataUrl##',
						function(error, data) {
							var crf = crossfilter(data);
							data.forEach(function(e) {
								e.level = +e.level;
								e.v1 = +e.v1;
								e.v2 = +e.v2;
							});

							var dim = crf.dimension(function(d) {
								return d.level;
							});
							
							var grp1 = dim.group()
									.reduceSum(function(d) {
										return +d.v1;
									});
							
							var grp2 = dim.group()
							.reduceSum(function(d) {
								return +d.v2;
							});

							chart.width(chartWidth).height(chartHeight)
									.transitionDuration(1500)
									.margins({
										top : 30,
										right : 100,
										bottom : 25,
										left : 60
									})
									.dimension(dim)
									.mouseZoomable(true)
									.x(d3.scale.linear().domain(d3.extent(dim, function(d) {return d.level;})))
									.elasticX(true)
									.elasticY(true)
									.renderHorizontalGridLines(true)
									.legend(dc.legend().x(70).y(10).itemHeight(13).gap(5))
									.brushOn(false)
									.compose([
										dc.lineChart(chart)
											.group(grp1,"##V1##").valueAccessor(function(p) { return p.value; }),
										dc.lineChart(chart)
											.group(grp2,"##V2##").valueAccessor(function(p) { return p.value; })
											.ordinalColors(["orange"])
				                            .useRightYAxis(true)
									])
									//.yAxisLabel("V1")
									//.rightYAxisLabel("V2")
									.renderHorizontalGridLines(true);

							dc.renderAll();
						});
	</script>

</body>
</html>


